* {
    margin: 0;
    top: 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.montserrat {
    text-align: center;
    font-size: 50px;
    color: blue;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    margin-left: 20px;
    font-size: 30px;
    color: chocolate;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-row .img img {
    width: 100%;
    height: 300px;
    border-radius: 40px;
    object-fit: cover;
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 30vw;
    }
}

/* code màn hình nhỏ */
@media (max-width: 600px) {
    .montserrat {
        font-size: 24px;
        padding: 10px;
    }

    h1 {
        font-size: 16px;
        margin: 10px;
        text-align: left;
    }

    .image-row {
        width: 90%;
        flex-direction: column;
        height: auto;
        margin: 10px;
    }

    .image-row img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .image-row .info {
        font-size: 20px;
        width: 100%;
    }
}